key,type,encoding,value
main,namespace,,
hostname,data,string,bitdsk
wifissid,data,string,myssid
wifipass,data,string,mypass
stratumurl,data,string,solo.vkbit.com
stratumport,data,u16,3333
stratumuser,data,string,19ac4otHjzmbPpyKodYHvVCwzTnT4gQGjA.bitdsk
stratumpass,data,string,x
asicfrequency,data,u16,300
asicvoltage,data,u16,1300
asicmodel,data,string,BM1397
devicemodel,data,string,Sig
boardversion,data,string,N5.0.x
flipscreen,data,u16,1
invertfanpol,data,u16,1
autofanspeed,data,u16,1
fanspeed,data,u16,100
selftest,data,u16,1
startfreq,data,u16,250
staticipopen,data,u16,0
staticip,data,string,x
staticnetmask,data,string,x
staticopengw,data,string,x
dnsmain,data,string,x
dnsbackup,data,string,x
dnsfallback,data,string,x